body{
    font-family: aria,sans-serif;
    background-color:#f9f9f9;
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    color: #333;
    margin-top: 20px;
}
.container{
    display: flex;
    justify-content: space-between;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 02px 6px rgba(0,0,0,0.1);
}
.animal-list{
    flex-basis: 40%;
}
.animal-list h2{
    color: #333;
    margin-bottom: 10px;
}
.animal-list ul{
    list-style: none;
    padding: 0;
}
.animal-list li{
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    background-color: #eee;
    margin-bottom: 5px;
 }
 .animal-list li:hover{
     background-color: #ddd;
 }
 .animal-details{
     flex-basis: 50%;
     text-align: center;
 }
 .animal-details h2{
     color: #333;
     margin-bottom: 10px;
 }
 .animal-details img{
     max-width: 300px;
     margin-bottom: 10px;
     border-radius: 5px;
 }
 .animal-details p{
     margin-bottom: 20px;
 }
 .animal-details button{
     padding: 10px 20px;
     background-color: #333;
     color: #fff;
     border: none;
     border-radius: 5px;
     cursor: pointer;
 }
 .animal-details button:hover{
     background-color: #555;
 }